.base-select{
    position: relative;
    @include flex;

    &-list-trigger{
        @include flex;
        @include base-shadow;
        align-items: center;
        justify-content: space-between;
        min-width: 200px;
        padding: 15px 20px;
        border-radius: 5px;
        background: var(--color-secondary);

        .list-trigger-text{
            @extend .bold-600;
        }
    }

    &-list{
        @include base-shadow;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: scale(0);
        transform-origin: center 0;
        padding: 15px 25px;
        background: var(--color-secondary);
        transition: all 0.2s;
        opacity: 0;

        &.active{
            top: 52.5px;
            opacity: 1;
            transform: scale(1);
        }

        &-item{
            @extend .bold-600;
            margin: 10px 0;

            &:first-of-type{
                font-weight: normal;
            }

            &:hover{
                color: $color-light-grey;
            }

            &-changer{
                display: inline-block;
                width: 100%;
            }
        }
    }
}