.country-search{
    @include flex(nowrap);
    @include base-shadow;
    width: 100%;
    margin-bottom: 40px;
    padding: 3.5px 25px;
    align-items: center;
    background-color: var(--color-secondary);
    border: 5px double transparent;
    border-radius: 5px;
    color: var(--color-input);

    @media (min-width: $app-small-viewport-size) {
        width: 45%;
        max-width: 450px;
        margin-bottom: 0;
    }

    .country-search-input{
        margin-left: 20px;
    }
}