.loading-container{
    @include flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    font-size: 5em;
    color: var(--primary-color);

    svg{
        animation: spin 1.5s infinite forwards linear;
    }
}