@import '_variables';

:root{
    font-size: $listing-font-size;
    --color-primary: #{$color-light-primary};
    --color-secondary: #{$color-light-secondary};
    --color-grey: #{$color-light-grey};
    --color-text: #{$color-light-text};
    --color-input: #{$color-light-grey};
    --color-input-placeholder: #{$color-light-grey};
    --color-base-shadow: #{$color-light-base-shadow};
    --color-error: #{$color-error};
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    transition: background-color 0.25s, color, fill;
}

body{
    font-family: $app-font-family;
    font-weight: $app-font-weight;
    background-color: var(--color-primary);
    color: var(--color-text);
    fill: var(--color-text);

    &[data-theme="dark"]{
        --color-primary: #{$color-dark-primary};
        --color-secondary: #{$color-dark-secondary};
        --color-grey: #{$color-dark-grey};
        --color-text: #{$color-dark-text};
        --color-input: #{$color-dark-text};
        --color-input-placeholder: #{$color-dark-text};
        --color-base-shadow: #{$color-dark-base-shadow};
    }
}

main{
    padding: 25px 15px;

    @media (min-width: $app-large-viewport-size) {
        padding: 40px 80px;
    }

    .countries-listing-page{
        font-size: $listing-font-size;
    }

    .country-detail-page{
        font-size: $detail-font-size;
    }
}

ul{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
}

.focused-element{
    transition: all 0.25s;
    background-color: var(--color-text) !important;
    color: var(--color-primary) !important;
    border: 5px double var(--color-primary) !important;
}

button, input, textarea{
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    &:focus,
    &:active{
        @extend .focused-element;

        &::placeholder {
            color: var(--color-primary);
        }
    }
}

input{
    width: 100%;
    padding: 7.5px;
    background-color: var(--color-secondary);
    color: var(--color-input);
    outline: 0;

    &:focus,
    &:active{
        border: 0 !important;
    }

    &::placeholder {
        color: var(--color-input-placeholder);
    }
}

button{
    padding: 3px;
    border: 5px solid transparent;
    background: none;
    transition: all 0.25s;
    outline: 0;
    @extend .cursor-pointer;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

svg{
    fill: currentColor;
    width: 1em;
}

.bold-600{
    font-weight: 600;
}

.svg-icon{
    @include flex;
    align-items: center;
    justify-content: center;
}

.cursor-pointer{
    cursor: pointer;
}