@import 'themes/dark.scss';
@import 'themes/light.scss';

$color-error: #ff3842;

$app-xs-viewport-size: 375px;
$app-small-viewport-size: 700px;
$app-medium-viewport-size: 980px;
$app-large-viewport-size: 1366px;

$app-font-family: 'Nunito Sans', sans-serif;
$app-font-weight: 300;

$listing-font-size: 14px;
$detail-font-size: 16px;