@import 'themes/dark.scss';
@import 'themes/light.scss';

$app-mobile-viewport-size: 375px;
$app-desktop-viewport-size: 1366px;

$app-font-family: 'Nunito Sans', sans-serif;
$app-font-weight: 300;

$listing-font-size: 14px;
$detail-font-size: 16px;